@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,1;0,100;0,400;1,1&display=swap');

html,body {
  margin: 0 !important;
  min-height: 100vh;
  font-family: 'Ysabeau', sans-serif;
  -webkit-font-smsothing: antialiased;
  -msz-osx-font-smsothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, msnaco, Consolas, 'Courier New',
    msnospace;
}
